body {
	margin: 0;
	padding: 0;
	background-color: rgba(250, 250, 250, 0.7);
}

@font-face {
	font-family: fontBens;
	src: url(../fonts/BRLNSR.TTF);
}
@font-face{
	font-family: fontcalibri;
	src: url(../fonts/calibri.ttf);
}
marquee{
	background-color: rgba(46, 138, 255, 0.0);
	color: white;
	font-family: Arial;
}
img{
	width: 23%;
	height: 72px;
	padding-bottom: 1%;
	position: absolute;
}
article{
	margin-top: 3px;
	box-shadow: 0px 0px 3px silver;
	border: 2px solid silver;
}
article.hasil{
	margin-top: 3px;
	height: 400px;
	box-shadow: 0px 0px 3px silver;
	border: 2px solid silver;
}
#wrapper{
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(250, 250, 250, 0.7);
}

nav{
	background-color: rgba(46, 138, 255, 0.7);
	padding-bottom: 2%;
	width: 74%;
	padding-left: 26%;
	-moz-width: 74%;
}
table.fontdt{
	font-size: 10pt;
	font-family: Arial;
}
nav ul{
	list-style: none;
	margin: 0;
}

nav li{
	line-height: 42px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial;
	display: inline;

}
#tabeldt{
	width: 202px;
}
.login{
	float: right;

}

nav a{
	text-decoration: none;
	color: white;
	padding: 15px 15px;
	cursor: pointer;
}

nav a:hover{
	color: #DC143C;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
}

a.active{
	color: rgba(46, 138, 255, 0.7);
	font-weight: bold;
	cursor: default;
	border-radius: 5px;
	-moz-border-radius:5px;
	background-color: #FFFFF0;
	box-shadow: 1px 4px 1px #808080;
}
footer{
	background-color: rgba(46, 138, 255, 0.7);
	text-align: center;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	font-family: fontcalibri;
	margin-top: -15px;
}
#hr{
	width: 70%;
	-moz-width: 50%;
}
#kontak_us{
	text-align: left;
}
.judul{
	background-color: rgba(226,235,212,0.7);
	padding: 10px;
	margin-top: 0;
	font-size: 17pt;
	font-family: fontcalibri;
}
.isi{
	padding: 10px;
	font-family: fontBens;
	text-align: justify;
}
#slideshow {
    position: relative; 
    width: 100%; 
    height: 250px; 
   
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}
#slideshow > div > img{
	width: 100%;
	height: 250px;
}
#lhtart{
	margin-right: 24px;
	margin-left: 24px;
	color: white;
	padding: 0.5px 7px;
	font-size: 10.5pt;
	border: 1px solid #556B2F;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 0px 3px #556B2F;
	text-decoration: none;
	background-color: #556B2F
}

#jddetail{
	background-color: rgba(226,235,212,0.7);
	padding: 10px;
	margin-top: 0;
	font-size: 17pt;
	font-family: fontcalibri;
	text-align: center;
}
#detailtb{
	padding: 10px;
	font-family: fontBens;
	width: 500px;
	height: 270px;
	margin-top: -10px;
	border: 3px solid rgba(46, 138, 255, 0.7);
}

#tbpesan{
	font-size: 13pt;
	width: 500px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: rgba(46, 138, 255, 0.7);
	font-family: fontcalibri;
	font-weight: bolder;
	color: white;
	margin-top: 5px;
	border-radius: 5px 5px 5px 5px;
}

#tbpesan:hover{
	background-color: rgba(0, 0, 40, 0.9);
	border: 1px solid rgba(0, 0, 40, 0.9);
	cursor: pointer;
}

#jd{
	border-right: 3px solid rgba(46, 138, 255, 0.7);
	border-bottom: 3px solid rgba(46, 138, 255, 0.7);
	background-color: rgba(0, 118, 138, 1); 
	color: white;
}

#jdisi{
	border-right: 3px solid rgba(46, 138, 255, 0.7);
	border-bottom: 3px solid rgba(46, 138, 255, 0.7);
	background-color: white;

}

#jdwl{
	border-right: 3px solid rgba(46, 138, 255, 0.7);
	border-bottom: 3px solid rgba(46, 138, 255, 0.7);
	background-color: rgba(46, 138, 255, 0.7);
	color: white;
	font-family: fontcalibri;
	padding: 5px;
}

#isijdwl{
	border-right: 3px solid rgba(46, 138, 255, 0.7);
	border-bottom: 3px solid rgba(46, 138, 255, 0.7);
	background-color: white;
	padding: 5px;
	font-family: fontBens;
}

#isijdwla{
	background-color: rgba(46, 138, 255, 0.7);
	padding: 5px;
}

#isijdwla:hover{
	font-weight: bolder;
}

#tbhasil{
	margin-top: 20px;

}
#tbpesan2{
	font-size: 13pt;
	width: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: rgba(46, 138, 255, 0.7);
	font-family: fontcalibri;
	font-weight: bolder;
	color: white;
	margin-top: 5px;
	border-radius: 5px 5px 5px 5px;
}

#tbpesan2:hover{
	background-color: rgba(0, 0, 40, 0.9);
	border: 1px solid rgba(0, 0, 40, 0.9);
	cursor: pointer;
}
#cekkursi{
	position: absolute; 
	margin-top: -30.5%;
	margin-left: 21%;
}

#tbk{
	align-content: center;
	margin-top: 5px;
	margin-left: 5.5px;
	margin-right: -5px;
}

#tbkisi{
	border-left: 2px solid rgba(46, 138, 255, 0.7);
	border-right: 2px solid rgba(46, 138, 255, 0.7);
	border-bottom: 2px solid rgba(46, 138, 255, 0.7);
	background-color: white;

}

#tbbooking{
	background-color: rgba(46, 138, 255, 0.7);
	font-family: fontcalibri;
	font-weight: bolder;
	color: white;
	width: 52px;
	font-size: 8pt;
}

#tbbooking:hover{
	background-color: rgba(0, 0, 40, 0.9);
	border: 1px solid rgba(0, 0, 40, 0.9);
	cursor: pointer;
}

#tbkbatal{
	background-color: red;
	font-family: fontcalibri;
	font-weight: bolder;
	color: white;
	width: 52px;
}

#tbkbatal:hover{
	background-color: silver;
	border: 1px solid silver;
	cursor: pointer;
}

#tbkbeda{
	border-left: 1px solid rgba(46, 138, 255, 0.7);
	border-right: 1px solid rgba(46, 138, 255, 0.7);
	border-bottom: 1px solid rgba(46, 138, 255, 0.7);
	background-color: white;
	color: white;
	width: 52px;
}

#tbklanjut{
	font-size: 15pt;
	width: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: rgba(46, 138, 255, 0.7);
	font-family: fontcalibri;
	font-weight: bolder;
	color: white;
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	margin-right: 340px;
	margin-left: 340px;
	width: 300px;
}

#tbklanjut:hover{
	background-color: rgba(0, 0, 40, 0.9);
	border: 1px solid rgba(0, 0, 40, 0.9);
	cursor: pointer;
}

#jdreview{
	background-color: rgba(226,235,212,0.7);
	padding: 10px;
	margin-top: 0;
	font-size: 17pt;
	font-family: fontcalibri;
	text-align: center;
}

#tbr{
	padding: 10px;
	font-family: fontBens;
	width: 500px;
	height: 270px;
	margin-top: -10px;
	border: 3px solid rgba(46, 138, 255, 0.7);
	margin-bottom: 10px;
}

#tbrjudul{
	border-right: 3px solid rgba(46, 138, 255, 0.7);
	border-bottom: 3px solid rgba(46, 138, 255, 0.7);
	background-color: rgba(0, 118, 138, 1); 
	color: white;
}

#tbrisi{
	border-right: 3px solid rgba(46, 138, 255, 0.7);
	border-bottom: 3px solid rgba(46, 138, 255, 0.7);
	background-color: white;

}

article.hasil{
	margin-top: 3px;
	box-shadow: 0px 0px 3px silver;
	border: 2px solid silver;
}

#trreview:hover{
	height:30px;
}

#download{
	font-size: 13pt;
	width: 500px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: rgba(46, 138, 255, 0.7);
	font-family: fontcalibri;
	font-weight: bolder;
	color: white;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
}

#download:hover{
	background-color: rgba(0, 0, 40, 0.9);
	border: 1px solid rgba(0, 0, 40, 0.9);
	cursor: pointer;
}